<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bless Me Ultima Quiz</title>
	<link rel="stylesheet" href="{{url_for('static',filename='/styles/grad.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='/styles/results.css')}}">
</head>
<body>
	<div class="bg">
	<div class="box">
	<a href="{{url_for('quiz')}}">Start Quiz!</a>
	</div>
	</div>
</body>
</html>