
form{
	z-index: 8;
	padding: 10%;
	background: rgba(255, 255, 255, 0.466);
}


h2{
	display: flex;
	justify-content: center;
	align-items: center;
	left: 48%;
	top: 48%;
}
.BOX1{
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	top: 50%;
	font-weight: 600;
}
.BOX2{
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	top: 53%;
	font-weight: 600;
}